<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25fb9248646a426ebbecd7410e3ab3d3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_25fb9248646a426ebbecd7410e3ab3d3" ></div>
        
</body>
<script>    
    
            var map_25fb9248646a426ebbecd7410e3ab3d3 = L.map(
                "map_25fb9248646a426ebbecd7410e3ab3d3",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4cdad9d1bed241caa3603c261017ba54 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_a874a573f00f40a3bfed4c882ab498b0 = L.circle(
                [37.09024, -95.712891],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 308288.77014754666, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_67cf53a1c2cb43639fc0855ff86218c3 = L.circle(
                [55.378051, -3.435973],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 160520.3095314663, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_a3a9c0cb7af6424fabc14863aeb2fd14 = L.circle(
                [36.204824, 138.252924],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 67313.32913516783, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_214f5643b5234fbe84a136f59c9d21b9 = L.circle(
                [-25.274398, 133.775136],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 214961.62520463546, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_a40b19ed0bd6449cbffbeeab9cc8eecc = L.circle(
                [56.130366, -106.34677099999999],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 127708.04810257927, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_71a57834bd5b4465a8beb97035053d60 = L.circle(
                [51.165690999999995, 10.451526],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 48918.80048140855, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_34b576db780f4641bf6f84a8ba63ad33 = L.circle(
                [59.83, 15.25],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 277155.59175546956, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_350afee7124c49b488a50f9293270ff1 = L.circle(
                [52.132633, 5.291266],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 143528.8237955388, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_f37055d65f404154804dd8ad92bd1004 = L.circle(
                [41.878056, 12.46407],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 31685.684069062474, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_e786d0f59848473e98b772172d9d704b = L.circle(
                [60.472024, 8.468946],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 385831.58743997815, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_e5ca1e5221994b068daaf070d353fbff = L.circle(
                [40.463667, -3.7492199999999998],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 36536.60509885652, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_983db1670ee54e168e177bfb63619a1b = L.circle(
                [61.92411, 25.748151],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 210461.04157762055, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_a380d236debb4aa89b681abfe82fcc18 = L.circle(
                [50.503887, 4.469936],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 81221.17334824026, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_77895e349dbc419eb0f1586d6afecc75 = L.circle(
                [-35.675146999999996, -71.542969],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 42766.247315720706, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_a57bad7135a24f07a2fe226da088a1c7 = L.circle(
                [46.818188, 8.227511999999999],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 84530.24707553256, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_03e6864ebad54d418f042f3df4ee09b9 = L.circle(
                [39.399871999999995, -8.224454],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 58552.48084315572, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_20251336b1674bdd80034cc8304cdb45 = L.circle(
                [56.26392, 9.501785],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 111179.1762503667, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_3265234c170e48dbae6c6642f14b3d58 = L.circle(
                [1.352083, 103.819836],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 98839.08596106542, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_06adbec6db8040068c37f5c132722fca = L.circle(
                [-40.900557, 174.88597099999998],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 105246.63039051653, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_46057a42a45c47f5bc85f1d0792d17fa = L.circle(
                [47.516231, 14.550072],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50531.68116706213, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_4d8c45bfd5f2452184c3ad8e71f8af94 = L.circle(
                [53.41291, -8.243889999999999],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 73850.97120181378, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_626cb284b9514c0fad15575948c6887f = L.circle(
                [58.595271999999994, 25.013607],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 120060.43797141656, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_cc57caf56a134780b99797f6bc493a0b = L.circle(
                [49.815273, 6.129583],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 252944.16468351416, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_84d0ae586e414aa18bbe96df2143b2de = L.circle(
                [23.424076, 53.847818000000004],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 42647.806346685175, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_70eaf8f5e5c841b48e59f43adaf484d3 = L.circle(
                [46.151241, 14.995463],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 31337.87351138883, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_e86e9cfe3e88482687cbc0a52cb7be44 = L.circle(
                [64.96305100000001, -19.020835],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 90183.97530963164, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_305fefb5aa264ac0bb3b227b77c1cfe7 = L.circle(
                [35.126413, 33.429859],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30600.496493055598, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
    
            var circle_b4030757b19d47b496a8f413ca13d6d7 = L.circle(
                [35.937496, 14.375416],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 44975.93787323782, "stroke": true, "weight": 3}
            ).addTo(map_25fb9248646a426ebbecd7410e3ab3d3);
        
</script>
